body {
    font: 11px sans-serif;
    background-color: lightgray;
}

.bc {
    margin: auto;
    left: 20%;
    width: 960px;
}

.chartHeading {
    margin: auto;
    border: 5px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    left: 20%;
    width: 960px;
    padding: 5px;
}

.chartArea {
    border: 5px solid;
    margin: auto;
    width: 960px;
    left: 20%;
    padding: 5px;
}

.description {
    width: 960px;
    left: 20%;
    margin: auto;
    border: 5px solid;
    font: 14px sans-serif;
    padding: 5px;
}

.choropleth {
    position: relative;
    margin: auto;
    left: -50px;
}

.axisLabel {
    overflow: visible;
    font: 14px sans-serif;
}

.legend {
    position: relative;
    margin: auto;
    right: -10px;
    top: -40px;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    padding: 7px;
    font-size: 1.2em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

point {
    stroke: none;
    fill: #000000;
}

.breadcrumb {
    font: 1.00em sans-serif;
    list-style: none;
}

.breadcrumb p {
    margin: 0;
}

.breadcrumb li {
    display: inline-block;
    margin-bottom: .2em;
}

.breadcrumb li a {
    background-color: #8200d9;
    box-sizing: border-box;
    color: #fff;
    display: block;
    max-height: 2em;
    padding: .5em 1em .5em 1.5em;
    position: relative;
    text-decoration: none;
    font: 1.0em sans-serif;
    transition: .25s;
}

.breadcrumb li a:before {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #fff;
    content: "";
    position: absolute;
    top: 0;
    right: -1.25em;
    z-index: 1;
}

.breadcrumb li a:after {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #8200d9;
    content: "";
    position: absolute;
    top: 0;
    right: -1em;
    transition: .25s;
    z-index: 1;
}

.breadcrumb li a:hover {
    background-color: #5000d9;
}

.breadcrumb li a:hover:after {
    border-left-color: #5000d9;
}

.breadcrumb li:last-child a {
    background-color: #5000d9;
    pointer-events: none;
}

.breadcrumb li:last-child a:after {
    border-left-color: #5000d9;
}

a {
    cursor: pointer;
}

.beginButton {
    margin: 20;
     position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.beginButton:active,
.beginButton:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .beginButton {
        font-size: 24px;
        min-width: 196px;
    }
}